<h2>List of our Products</h2>
{{#if errormsg}}
  <h2>{{errormsg}}</h2>
{{/if}}
{{#each products}}
        <h3>{{this.title}}</h3>
        <p>
          Price:
          {{this.price}}
          Eur
          <br />
          <a href="/products/{{this._id}}">More details</a>
          <a href="/products/{{this._id}}/edit">Edit</a>
        </p>
{{/each}}