<h2>Edit the product: {{this.title}}</h2>

<form method="POST" action="/products/{{this._id}}/edit">
    <label> Title:
        <input type="text" name="title" value="{{this.title}}" />
    </label>

    <label> Description:
        <textarea name="description" cols="30" rows="4">{{this.description}}</textarea>
    </label>

    <label> Price:
        <input type="number" name="price" min="1" value="{{this.price}}" />
    </label>

    <button>Save changes</button>
<hr />
    <a href="/products">Back</a>

</form>